@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* custom */
/*//////////////////////////////*/

.home-hero-visible {
    border: 1px solid blue;
    position: relative;
    height: 100svh;
    width: 90vh;
    overflow: hidden;

}
.home-hero-curtain {
  display: flex;
  flex-direction: column;
  /* height: calc(100svh - 87.46667vw - 4.64rem); */
  justify-content: flex-end;
  left: 0;
  padding-bottom: 2.2rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  /* border: 1px solid green; */

}
.gutters {
  padding: 0 1.6rem;
}
.bgwhite-fontblack {
  background-color: #fff;
  color: #0f0f0f;
}
.home-hero-content {
  /* background-color: #2b11bf; */
  background-color: rgb(13,64, 255);
  color: currentColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100svh;
  padding:0 1.6rem;
  /* position: sticky; conditionnal sticky with state */
  /* top: 0; */
  /* border: 1px solid red */
}
@keyframes reveal {
  from {
    transform: translateY(200px);
    /* transform: scale(0); */
    /* opacity: 0; */

  }
  to {
    transform: translateY(0px);
    /* transform: scale(1); */
    /* opacity: 1; */

  }

}
/* see https: //scroll-driven-animations.style/ */
.title {
 animation: reveal ease-in-out; /*pas de durée, on vas se servir de animation-timeline*/
 /* animation-timeline: scroll(); *//* tous les titres se jouent pendant la durée totale du scroll*/
 animation-timeline: view(block);
 animation-range-start: cover 0%;
 animation-range-end: cover 45%;
}
